.stocksindices_layout {
  //body
  .indices_stocks_body {
    width: 100%;
    height: auto;
    padding-top: 0.5rem;

    //tab-1
    .tab4 {
      width: 100%;
      // display: flex;
      justify-content: space-between;
      gap: 1rem;

      .left {
        flex-grow: 1;

        &_headersearch {
          display: flex;
          margin: 7px 7px 14px;
          gap: 1rem;

          h1 {
            font-weight: 300;
            font-size: $fontsize-large6;
            line-height: $fontsize-large4;
            letter-spacing: 0.12em;
          }
        }

        &-container {
        }
      }
    }
  }
}

.content {
  display: flex;
  margin: 0rem 0;
  height: calc(100vh - 170px);
  @include flexStartRow();
  align-items: flex-start;

  .top-tab4 {
    font-style: normal;
    font-size: $fontsize-large1;
    line-height: $fontsize-large5;
    gap: 0.5rem;
    // flex: 1;
    max-width: 300px;
    width: 300px;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    overflow-y: overlay;
    padding: 0px 7px;
    &:hover {
      overflow-y: auto;

      @supports (overflow-y: overlay) {
        overflow-y: overlay;
      }
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: $fontsize-default;
      line-height: $fontsize-large5;
      color: $light-text-muted;
      height: 25px;
    }

    .calendar {
      margin: 7px 0px 25px;
      box-shadow: $shadow-general;
    }

    h3 {
      font-weight: 300;
      font-size: $fontsize-large1;
      line-height: $fontsize-large5;
      padding: 0px 0 10px;
    }

    .tab-item {
      padding: 4px 6px;
      box-sizing: border-box;
      font-weight: 400;
      font-size: $fontsize-large1;
      line-height: $fontsize-large5;
      width: 95%;
      position: relative;
      margin-bottom: 1px;

      &::after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        background-color: $transparent;
        position: absolute;
        right: -5px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        -webkit-transform: translateY(-50%) rotate(45deg);
        -moz-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
        -o-transform: translateY(-50%) rotate(45deg);
      }

      &.active {
        background-color: $blue-200;
        font-style: normal;
        font-weight: 700;
        font-size: $fontsize-large1;
        line-height: $fontsize-large5;

        &::after {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          background-color: $blue-200;
          position: absolute;
          right: -5px;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
          -webkit-transform: translateY(-50%) rotate(45deg);
          -moz-transform: translateY(-50%) rotate(45deg);
          -ms-transform: translateY(-50%) rotate(45deg);
          -o-transform: translateY(-50%) rotate(45deg);
        }
      }

      &:hover {
        background-color: $blue-200;
        cursor: pointer;
      }
    }
  }

  .right {
    flex: 1;
    height: 100%;
    // background-color: aqua;
    padding: 0px 7px 0px 7px;

    .calendarRight {
      width: 100%;
      height: 100%;
      // background-color: burlywood;

      &-top {
        @include flexStartRow();

        &_item {
          margin-right: 10px;
        }

        .today {
          width: 70px;
        }

        .date {
          font-style: normal;
          font-weight: 400;
          font-size: $fontsize-small1;
          line-height: $fontsize-large5;
        }

        .navigation {
          @include flexStartRow();

          &-item {
            width: 18px;
            height: 18px;
            cursor: pointer;

            &:hover {
              color: $yellow-100;
            }

            svg {
              font-size: $fontsize-large2;
              width: 16px;
              height: 16px;
            }
          }
        }

        .switch {
          width: 90px;
        }

        &_tabs {
          @include flexStartRow();
          box-shadow: $shadow-general;

          &-item {
            @include flexCenter(row);
            font-weight: 400;
            font-size: $fontsize-default;
            color: $dark-text-primary;
            background-color: $secondary-light;
            padding: 0px 0rem;
            height: 1.5rem;
            flex: 1;
            cursor: pointer;
            margin: 0px 0rem;
            position: relative;
            border: $border-width-general;
            // border-top: 0px solid $transparent;
            // border-radius: 2px;
            // -webkit-border-radius: 2px;
            // -moz-border-radius: 2px;
            // -ms-border-radius: 2px;
            // -o-border-radius: 2px;

            &.focused {
              background-color: $blue-300 !important;
              box-shadow: $shadow-general;
              color: $light-text-primary !important;
              border: $border-width-general !important;
              border-top: 0px solid $transparent !important;

              &:hover {
                color: $light-text-primary;
              }

              // &::after {
              //   content: "";
              //   display: block;
              //   width: 10px;
              //   height: 10px;
              //   background-color: $senary-dark;
              //   position: absolute;
              //   bottom: -0.5rem;
              //   transform: rotate(45deg);
              //   -webkit-transform: rotate(45deg);
              //   -moz-transform: rotate(45deg);
              //   -ms-transform: rotate(45deg);
              //   -o-transform: rotate(45deg);
              // }
            }

            &:hover {
              background-color: $yellow-trans;
              box-shadow: $shadow-general;
              color: $dark-text-primary;
              border: $border-width-type3;
            }

            &:first-child {
              border-radius: 2px 0px 0px 2px;
            }

            &:last-child {
              border-radius: 0px 2px 2px 0px;
            }
          }

          &.dark {
            .calendarRight-top_tabs-item {
              color: $light-text-primary;
              background-color: $quinary-dark;
              margin: 0px 0rem;
              position: relative;
              border: $border-width-general;
              // border: 0.25px solid #D9D9D9;
              // border-top: 0px solid $transparent;

              &.focused {
                background-color: $blue-300 !important;
                box-shadow: $shadow-general;
                color: $light-text-primary !important;
                border: $border-width-general !important;
                border-top: $border-width-transparent !important;

                &:hover {
                  color: $light-text-primary;
                }

                // &::after {
                //   content: "";
                //   display: block;
                //   width: 10px;
                //   height: 10px;
                //   background-color: $blue-300;
                //   position: absolute;
                //   bottom: -0.5rem;
                //   transform: rotate(45deg);
                //   -webkit-transform: rotate(45deg);
                //   -moz-transform: rotate(45deg);
                //   -ms-transform: rotate(45deg);
                //   -o-transform: rotate(45deg);
                // }
              }

              &:hover {
                background-color: $yellow-trans;
                box-shadow: $shadow-general;
                color: $light-text-primary;
                border: $border-width-type3;
              }
            }
          }
        }
      }

      &-bottom {
        width: 100%;
        height: calc(100% - 32px);
        margin-top: 7px;
        background-color: $transparent;
      }
    }
  }
}

.VirtualCalendar {
  width: 100%;
  height: 100%;
  background-color: $transparent;
  position: relative;

  .ReactVirtualized__Grid {
    overflow: hidden !important;

    &:hover {
      overflow: auto !important;

      @supports (overflow: overlay) {
        overflow: overlay !important;
      }
    }

    &::-webkit-scrollbar {
      width: 4px;
      height: 2px;
    }

    &::-webkit-scrollbar-track {
      background: $transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(193, 193, 193, 0.8);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba(193, 193, 193, 0.8);
    }
  }

  &_sl {
    width: 40px;
    min-height: 36px;
    height: 100%;
    font-style: normal;
    font-weight: 300;
    font-size: $fontsize-small2;
    line-height: 22px;
    color: $light-text-muted;
    text-align: center;
  }

  &_cell {
    // width: 155px;
    // height: fit-content !important;
    border: 1px solid #ffffff11;
    cursor: pointer;

    &.week {
      min-height: 95px;
    }

    &.day {
      min-height: 46px;
    }

    .weekViewMore {
      font-size: $fontsize-small1;
      font-weight: 300;
      padding: 3px;
      color: $yellow-100;
      text-decoration: underline;
    }

    &-inner {
      width: 100%;
      height: fit-content;
      // min-height: 46px;
      background: rgba(100, 103, 110, 0.1);
      border-bottom: $border-width-type7;
      padding: 2px 7px;

      &.fullHeight {
        height: 95px;
      }

      &.results {
        height: 100%;
        min-height: 100%;
      }

      &.flex {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 46px;
      }

      .left {
        width: 150px;
        display: block;
        flex-grow: 0 !important;
      }

      .middle {
        flex: 1;

        p {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          overflow: hidden;
          height: 29px;
          text-overflow: ellipsis;
          white-space: pre-line;
          text-align: justify;
        }
      }

      .right {
        width: fit-content;
        flex-grow: 0 !important;
        @include flexStartRow();
        justify-content: flex-end;
        cursor: pointer;

        .btn {
          @include flexStartRow();
          justify-content: flex-end;
          cursor: pointer;
          margin-left: 7px;

          span {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            text-transform: capitalize;
            color: $blue-200;
            white-space: nowrap;
          }

          svg {
            margin-left: 7px;
          }
        }

        .item {
          width: 30px;
          height: 50px;
          @include flexCenter(row);
          color: #fff;

          &:hover {
            color: $yellow-100;
          }

          svg {
            font-size: 16px;
          }
        }
      }
    }

    &-top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row;

      h4 {
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        // line-height: 22px;

    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
      }

      span {
        text-transform: uppercase;
        font-style: normal;
        font-weight: 700;
        font-size: 8px;
        // line-height: 22px;
        color: #fff;
      }
    }

    &-bottom {
      text-transform: capitalize;
      font-weight: 300;
      font-size: 8px;
      // line-height: 22px;
    }
  }

  &_dates {
    // max-width: 155px;
    height: fit-content;
    border: 1px solid #ffffff11;
    padding: 7px;

    &-top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row;

      h4 {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
      }

      span {
        text-transform: uppercase;
        font-style: normal;
        font-weight: 700;
        font-size: 8px;
        line-height: 22px;
        color: #2b64f9;
      }
    }

    &-bottom {
      text-transform: uppercase;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 22px;
    }
  }

  .wrappedTextSmall {
    display: block;
    width: 120px;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 28px;
  }
}

.VirtualCalendarModal {
  width: 450px;
  min-height: 240px;
  @include absCenter();
  border-radius: 4px;

  &.light {
    background-color: $primary-light;
    color: $dark-text-primary;
    border: $border-width-general;
  }

  &.dark {
    background-color: $primary-dark;
    color: $light-text-primary;
    border: $border-width-general;
  }

  .close {
    padding: 10px 10px 0px;

    svg {
      width: 16px;
      height: 16px;
      color: #fff;
      cursor: pointer;

      &:hover {
        color: $yellow-100;
      }
    }
  }

  .header {
    padding: 10px;
    border-bottom: $border-width-general;

    h6 {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      padding-bottom: 10px;
    }

    h5 {
      font-style: normal;
      font-weight: 200;
      font-size: 28px;
      line-height: 22px;
    }
  }

  .body {
    padding: 10px;
    border-bottom: $border-width-general;

    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
    }
  }

  .date {
    padding: 10px;
    border-bottom: $border-width-general;

    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: $yellow-100;
    }
  }

  .footer {
    padding: 10px;
    @include flexStartRow();
    justify-content: space-between;

    .left {
      @include flexStartRow();
      flex: 1;

      svg {
        width: 16px;
        height: 16px;
        color: #fff;
        cursor: pointer;
        margin-right: 7px;

        &:hover {
          color: $yellow-100;
        }
      }
    }

    .right {
      @include flexStartRow();
      justify-content: flex-end;
      flex: 1;
      cursor: pointer;

      span {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-transform: capitalize;
        color: $blue-200;
      }

      svg {
        margin-left: 7px;
      }
    }
  }
}
